:root {
    --background-color:rgba(206, 206, 206, 0.823);
    --icon-color:#03564A;
    
}


.body{
    margin-top: 50px;
    min-height: 50vh;
}
.main__container{
    background-color: #f8f8f8;
    height: 100% !important;
    display: flex;
    flex-direction: column;

}

.layout{
    height:100% !important;
    margin:0;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    
}

