.image{
    height: 50px
}
.image1{
    height: 15px;
    position: relative;
}

body{
    position: relative;
}

.main__container{

    background-color: rgb(255, 177, 254);
    color: white; 
    margin-bottom: 0; 
}

.btn__social__media{
    border-radius: 50%;
    text-align: center !important;
    align-items: center !important;
    margin: 10px;
    display: flex;
    width: 45px;
    height: 45px;
}

.icon{
    font-size: 30px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.btn__displacement{
    color:white !important;
    opacity: 1 !important;
    font-size: 20px !important;

}
.btn__displacement:hover, .btn__social__media:hover{
    background-color: rgba(255, 197, 252, 0.944);
}

@media all and (max-width: 700px){
    .btn__social__media__container{
        display: flex;
        flex-direction: row !important;
        margin-left: 0px !important;
        padding: 0 !important;
        
    }

    .icon{
        font-size: 20px !important;
    }

    .btn__displacement{
        width: 80px !important;
        margin-left: 15px;
        text-align: center;
        font-size: 15px !important;
        margin-bottom: -10px;
    }
}





