.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card_image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card_title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card_description {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card_price {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--icon-color);
  }
  
  .card_button {
    background-color: transparent !important;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card_button:hover {
    /* font-size: 30px; */
    transition: 0.4s;
  }


  .heart_icon {
  font-size: 24px;
  color: gray;
  transition: 0.2s ease-in-out;
}

.heart_icon_filled {
  font-size: 24px;
  color: var(--icon-color);
  transition: 0.2s ease-in-out;
}


.icon{
  color: var(--icon-color);
  font-size: 25px;
}

.card__btn{
  margin-bottom: 2px !important;
  display: flex;
 justify-content: space-between !important;
  align-items: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.icon:hover,
.heart_icon_filled:hover,
  .heart_icon:hover{
    font-size: 30px;
    transition: 0.4s;
  }