.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: aqua; */
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card_title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card_description {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card_price {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--icon-color);
  }
  
  .card_button {
    background-color: transparent !important;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .card_button:hover {
    /* font-size: 30px; */
    transition: 0.4s;
  }


  .heart_icon {
  font-size: 24px;
  color: gray;
  transition: 0.2s ease-in-out;
}

.heart_icon_filled {
  font-size: 24px;
  color: var(--icon-color);
  transition: 0.2s ease-in-out;
}


.icon{
  /* position: absolute; */
  color: var(--icon-color);
  font-size: 25px;
}

.card__btn{
  margin-bottom: 2px !important;
  display: flex;
 justify-content: space-between !important;
  align-items: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  
}

.icon:hover,
.heart_icon_filled:hover,
  .heart_icon:hover{
    font-size: 30px;
    transition: 0.4s;
  }

  .gift_animation {
  position: absolute;
  /* top: -40px; empieza fuera de la vista */
  left: auto;
  right: 0px; /* ajusta según la posición exacta del carrito */
  animation: dropStraight 0.6s forwards;
  color: var(--icon-color);
  font-size: 24px;
  z-index: 10;
}

@keyframes dropStraight {
  0% {
    top: -60px;
    opacity: 1;
    transform: rotate(180deg);
  }
  100% {
    top: 7px; 
    transform: rotate(360deg);
  }
}



.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* no interactúa cuando invisible */
}

.card_button.favoriteButton {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card_button.favoriteButton.hidden {
  visibility: hidden;  /* ocupa espacio pero no se ve */
  opacity: 0;
  pointer-events: none;
}

.keep_icon{
  z-index: 100;
  font-size: 60px !important;
}

.keep{
  animation: move 0.7s forwards;
  animation-delay: 0.7s;
  transform: translateY(-10px);
}

@keyframes move {
  
  100% {
    transform: translateX(190px);
  }
}


