


.cart {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}


.mySwiper{
  max-width: 1400px !important ;
  height: auto;
  margin-bottom: 50px;
  padding: 30px ;
}

.mySwiperSlice {
  text-align: center;
  font-size: 18px;
  background: #fff;
  justify-content: center;
  align-items: center;
}


.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: var(--icon-color);
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
