.footer {
  background-color: #fdf0f5;
  color: var(--icon-color);
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  gap: 30px;
}

.footer__brand h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer__brand p {
  font-size: 20px;
  line-height: 1.5;
}

.footer__links h3,
.footer__contact h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #c0398f;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 8px;
}

.footer__links a {
  text-decoration: none;
  color: var(--icon-color);
  transition: color 0.3s;
}

.footer__links a:hover {
  color: #c0398f;
}

.footer__contact p {
  margin: 8px
}


.icon {
  font-size: 28px;
  color: var(--icon-color);
}

.footer__socials a{
  margin-right: 15px;
}

.footer__socials{
  margin-bottom: 30px;
}

.footer__bottom p{
  text-align: center;
}

@media all and (max-width: 700px) {
  .footer__bottom p{
  text-align:left;
}
}